@import '../../styles/mixins/media';
@import '../../styles/variables.scss';

.resetPasswordForm {
  position: relative;
  width: 380px;
  margin: 103px auto;

  @include tablet-vertical {
    width: 100%;
  }

  .head {
    width: 100%;
    text-align: center;

    .title {
      font-weight: bold;
      font-size: 28px;
      margin: 26px 0 auto;

      @include tablet-vertical {
        font-size: 18px;
      }

      @include mobile {
        font-size: 18px;
      }
    }

    .subTitle {
      font-weight: normal;
      font-size: 14px;

      @include tablet-vertical {
        font-size: 12px;
      }

      @include mobile {
        font-size: 12px;
      }
    }

    .ic_password {
      width: 36px;
      height: 36px;
      margin: 0 auto;
    }
  }

  .form {
    padding-top: 5%;
    width: 313px;
    margin: 0 auto;
    font-size: 12px;
    font-weight: normal;

    @include tablet-vertical {
      width: 100%;
    }

    .row {
      height: 80px;
    }

    .noticPassword {
      font-size: 12px;
      color: red;
    }

    .resetButton, .btnBackToHome {
      margin-top: 5%;
      width: 100%;
      height: 38px;
      background-color: $red-base;
      color: #ffffff;
    }

    .errorMessage {
      font-size: 12px;
      color: red;
      position: absolute;
      margin-top: -55px;
      right: 35px;

      @include tablet-vertical {
        margin-top: -56px;
        right: 0px;
      }
    }
  }
  
  .forgotLink {
    text-decoration: underline !important;
    font-weight: bold !important;
  }
}

.resetPasswordFormSuccess {
  position: relative;
  width: 731px;
  margin: 103px auto;

  @include tablet-vertical {
    width: 100%;
  }

  .head {
    width: 100%;
    text-align: center;

    .title_success {
      font-weight: bold;
      font-size: 28px;
      font-weight: bold;

      @include tablet-vertical {
        font-size: 12px;
      }

      @include mobile {
        font-size: 12px;
      }
    }

    .subTitle_success {
      font-weight: normal;
      font-size: 14px;

      @include tablet-vertical {
        font-size: 12px;
      }
    }

    .icon {
      margin-bottom: 30px;
      height: 36px;
    }
  }

  .form {
    width: 100%;
    margin: 0 auto;
    text-align: center;

    @include tablet-vertical {
      width: 100%;
    }

    .row {
      height: 80px;
    }

    .noticPassword {
      font-size: 12px;
      color: red;
    }

    .btnBackToHome {
      margin: 60.5px auto;
      width: 180px;
      height: 36px;
      font-weight: bold;
      background-color: $red-base;
      color: #ffffff;
    }

    .errorMessage {
      font-size: 12px;
      color: red;
      position: absolute;
      margin-top: -35px;
      right: 35px;

      @include tablet-vertical {
        margin-top: -56px;
        right: 0px;
      }
    }

    .alignCenter {
      text-align: center
    }
  }
}