@import '../../styles/variables.scss';
@import '../../styles/mixins/media';

.forgotPassword {
    margin-top: 80px;
    margin-bottom: 128px;
    text-align: center;

    @include tablet-vertical {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 70px;
        margin-bottom: 70px;
    }

    & > * {
        margin: auto;
    }

    .logo {
        width: 52px;
        height: 52px;
        background-color: #13283F;
        border-radius: 50%;
        margin-bottom: 24px;

        @include tablet-vertical {
            display: none;
        }  
    }

    .titleEnterEmail {
        color: $gray-base;
        font-size: 24px;
        margin-bottom: 10px;
        font-weight: bold;

        @include tablet-vertical {
            font-weight: bold;
            margin-bottom: 14px;
        }
    }

    .subtitleEnterEmail {
        font-size: 16px;
        margin-bottom: 6px;

        @include tablet-vertical {
            margin-bottom: 25px;
        }
    }

    .titleSentSuccess {
        color: $gray-base;
        font-size: 24px;
        margin-bottom: 6px;
        font-weight: bold;

        @include tablet-vertical {
            font-weight: bold;
            margin-bottom: 6px;
        }
    }

    .subtitleSentSuccess {
        font-size: 16px;
        margin-bottom: 25px;

        @include tablet-vertical {
            margin-bottom: 40px;
        }
    }

    .formGroupMobile {
        display: none;
        grid-template-columns: 1fr max-content 1fr;

        @include tablet-vertical {
            display: grid;
        }

        .formInput {
            display: block;
            grid-column: 1 / -1;
            margin-bottom: 0px;
            margin-top: auto;
            line-height: 36px;
            height: 100%;

            .emailLabel {
                display: block;
                font-size: 16px;
                color: #535252;
                text-align: left;
                margin-bottom: 0;

                .mandatoryFieldSymbol {
                    color: red;
                    margin-bottom: 0;
                }
            }

            .btn-forgotPassword {
                background-color: #78E723;
            }

            input {
                height: 48px;
                font-size: 16px;
                padding: 0 20px;
                border: 1px solid $silver-base-light;
                margin-bottom: 20px;
                width: 100%;
                padding: 0 15px;
            }

            .btnInput {
                height: 48px;
                font-size: 18px;
                border: none;
                width: 100%;
                background-color: #13283F;
                color: #fff;
                text-transform: uppercase;
                margin-top: 0;
                font-weight: bold;
                margin-left: 0;
                margin-bottom: 20px;
                cursor: pointer;

                .lineError {
                    height: 0px;
                }
            }
            .lineError {
                height: 0px;
            }
        }

        .boxValidateAlert {
            position: relative;

            .validateAlert {
                text-align: left;
                color: $red-light;
                white-space: nowrap;
                position: absolute;
                top: -35px;
                right: 0;
            }
            
            .validateInput {
                border: 1px solid $red-light;
            }
        }
    }

    .formGroupDesktop {
        display: grid;
        grid-template-columns: 1fr max-content 1fr;

        @include tablet-vertical {
            display: none;
        }
        .formInput {
            grid-column: 2 / 3;
            margin-top: auto;
            margin-bottom: 12px;
            line-height: 36px;
            height: 100%;
            margin-top: auto;
            display: flex;

            .emailLabel {
                display: none;
                font-size: 16px;
                color: #535252;
                
                .mandatoryFieldSymbol {
                    color: red;
                    margin-bottom: 0;
                }
            }

            .btn-forgotPassword {
                background-color: #78E723;
            }

            input {
                width: 372px;
                height: 48px;
                font-size: 16px;
                padding: 0 20px;
                border: 1px solid $silver-base-light;
            }

            .btnInput {
                height: 48px;
                width: 137px;
                margin-top: 36px;
                margin-left: 21px;
                font-size: 18px;
                background-color: #78E723;
                border: none;
                cursor: pointer;

                .lineError {
                    height: 36px;
                }
            }
            .lineError {
                height: 36px;
            }
        }

        .boxValidateAlert {
            .validateAlert {
                text-align: left;
                color: $red-light;
                white-space: nowrap;
                font-size: 18px;
            }
            .validateInput {
                border: 1px solid $red-light;
            }
        }
    }

    .lineRegister {
        font-size: 16px;
        color: #7E7E7E;
        text-align: center;
        margin-bottom: 22px;

        @include tablet-vertical {
            margin-bottom: 40px;
        }

        a {
            font-size: 16px;
            color: #5193E2;
        }

        .resend {
            cursor: pointer;
        }

        .lineRegisterDesktop {
            display: block;
            text-align: right;
            margin-top: 5px;

            @include tablet-vertical {
                display: none;
            }
        }

        .lineRegisterTablet {
            display: none;

            @include tablet-vertical {
                display: block;
            }

            .registerNowButtonLabel{
                text-align: left;
                color: #535252;
            }

            .registerNowButton {
                height: 48px;
                width: 137px;
                font-size: 18px;
                background-color: #78E723;
                border: none;
                display: none;

                @include tablet-vertical {
                margin-top: 36px;
                width: 100%;
                text-transform: uppercase;
                margin-top: 0;
                color: #13283F;
                background-color: #78E723;
                font-weight: bold;
                display: block;
                }
            }
        }
    }

    .btnBackToHome {
        height: auto;
        width: 268px;
        font-size: 18px;
        background-color: $red-base;
        padding: 11px;
        border: none;
        cursor: pointer;
        color: #fff;

        @include tablet-vertical {
            width: 100%;
            height: auto;
        }
    }
}
