@import '../../../styles/variables.scss';
@import '../../../styles/mixins/media';

.rootOrderPickupAddress {
  @include tablet-vertical {
    padding: 0 16px 0 10px;
  }
  .mainTitle {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 14px;
  }
  .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .left {
      width: 50%;
      word-break: break-word;

      @include tablet-vertical {
        width: 12%;
      }
    }
    .right {
      width: 50%;
      word-break: break-word;

      @include tablet-vertical {
        width: 88%;
      }
    }
  }
  .infoRow {
    font-size: 14px;
    margin: 0 0 14px 0;

    .locationName {
      color: $gray-base;
      width: 100%;
      word-break: break-word;
      margin-bottom: 10px;
    }
    .locationAddress {
      color: $gray-base;
      width: 100%;
      word-break: break-word;
      margin-bottom: 19px;
    }
  }
  .titleContact {
    font-size: 14px;
    color: $gray-nobel;
  }
  .buttonDirection {
    background-color: $red-base;
    display: inline-block;
    font-size: 14px;
    color: $white-base;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    width: 100%;
    height: 36px;
    line-height: 36px;
    vertical-align: top;
    margin-right: 24px;
    box-sizing: border-box;
    margin: 20px 0;

    @include tablet-vertical {
      display: none;
    }

    .getDirectionImage {
      width: 14px;
      margin-right: 5px;
    }
  }
}
